body {
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  --header-height: 50px;
  --footer-height: 100px;

}

.header {
  height: var(--header-height);
  background-color: #000;
}

.main {
  min-height: calc(100vh - var(--header-height) - var(--footer-height))
}

.container {
  max-width: 500px;
  width: 50%;
  min-width: 300px;
  margin: 0 auto;
}

.section {
  padding: 20px;
}

.section-2 {
  background-color: bisque;
}

.footer {
  height: var(--footer-height);
  text-align: center;
  line-height: var(--footer-height);
  background-color: #888;
}